{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Image AI</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <style>
        img:focus {
            outline: 3px solid blue;
        }
    </style>

</head>
<body>


<div class="container">
    <h1>性別與年齡預測之影像AI</h1>


    <div class="row">

        <!-- 輸入區塊row .. col-lg-6 .. card -->
        <div class="col-lg-12 mb-5">
            <div class="card">
                <div class="card-header">
                    <h3 class="h6 text-uppercase mb-0">點選一張圖片</h3>
                </div>
                <div class="card-body">
                    <!-- 顯示幾張展示的圖片-->
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-3 mb-2">
                            <img src="{% static "images/child.jpg" %}" onclick="classify_this_img(this);"
                                 class="img-fluid" tabindex="0"/>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3 mb-2">
                            <img src="{% static "images/young.jpg" %}" onclick="classify_this_img(this);"
                                 class="img-fluid" tabindex="1"/>
                        </div>

                        <div class="col-12 col-md-6 col-lg-3 mb-2">
                            <img src="{% static "images/man.jpg" %}" onclick="classify_this_img(this);"
                                 class="img-fluid" tabindex="2"/>
                        </div>

                        <div class="col-12 col-md-6 col-lg-3 mb-2">
                            <img src="/static/images/elder.jpg" onclick="classify_this_img(this);"
                                 class="img-fluid" tabindex="3"/>
                        </div>

                         <div class="col-12 col-md-6 col-lg-3 mb-2">
                            <img src="/static/images/child_g.jpg" onclick="classify_this_img(this);"
                                 class="img-fluid" tabindex="4"/>
                        </div>

                         <div class="col-12 col-md-6 col-lg-3 mb-2">
                            <img src="/static/images/young_g.jpg" onclick="classify_this_img(this);"
                                 class="img-fluid" tabindex="5"/>
                        </div>

                         <div class="col-12 col-md-6 col-lg-3 mb-2">
                            <img src="/static/images/woman.jpg" onclick="classify_this_img(this);"
                                 class="img-fluid" tabindex="6"/>
                        </div>

                         <div class="col-12 col-md-6 col-lg-3 mb-2">
                            <img src="/static/images/elder_w.jpg" onclick="classify_this_img(this);"
                                 class="img-fluid" tabindex="7"/>
                        </div>
                    </div>

                </div>
            </div>
        </div><!-- 區塊結束-->


        <!-- 輸入區塊row .. col-lg-6 .. card -->
        <div class="col-lg-4 mb-5">
            <div class="card">
                <div class="card-header">
                    <h3 class="h6 text-uppercase mb-0">答案顯示區框!</h3>
                </div>
                <div class="card-body">
                    <!-- 顯示答案與機率-->
                    <ul id="ans_for_img">答案會顯示在這裡!</ul>
                </div>

            </div>
        </div><!-- 區塊結束-->


        <!-- 輸入區塊row .. col-lg-6 .. card -->
        <div class="col-lg-4 mb-5">
            <div class="card">
                <div class="card-header">
                    <h3 class="h6 text-uppercase mb-0">輸入圖片連結</h3>
                </div>
                <div class="card-body">

                    <div class="form-group">
                        <input type="url" class="form-control" id="input_img_url"
                               placeholder="圖片連結">
                    </div>
                    <div>
                        <button type="button" class="btn btn-primary" id="btn_url">答案是?</button>
                    </div>

                    <!-- 顯示圖片 -->
                    <div id="img_for_url"></div>

                    <!-- 顯示答案與機率-->
                    <ul id="ans_for_url"></ul>

                </div>

            </div>
        </div><!-- 區塊結束-->

        <!-- 輸入區塊row .. col-lg-6 .. card -->
        <div class="col-lg-4 mb-5">
            <div class="card">
                <div class="card-header">
                    <h3 class="h6 text-uppercase mb-0">選擇本地圖片</h3>
                </div>
                <div class="card-body">

                    <div class="form-group">
                        <small class="form-text text-muted">放心，我們不會保存你的圖片</small>
                        <input type="file" class="form-control-file" id="img_file">
                    </div>
                    <button type="button" class="btn btn-primary" id="btn_upload">答案是?</button>

                    <!-- 顯示圖片-->
                    <div id="img_for_upload"></div>
                    <!-- 顯示答案與機率-->
                    <ul id="ans_for_upload"></ul>
                </div>
            </div>
        </div><!-- 區塊結束-->

    </div>
</div>

</body>
</html>

<!-- java scrip通常寫在網頁最後面，等頁面初始化之後才會執行-->
<!-- jQuery指令用到的js-->
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<!-- chartjs圖js-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>

<!-- 程式碼區 -->
<!-- jQuery指令用到的js-->
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<!-- chartjs圖js-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>

<!-- 程式碼區 -->
<script>

    // 提供一個圖片url讓使用者點選
    const example_url = 'https://s.yimg.com/ny/api/res/1.2/2hydHqCS7Ur6CRXpKv1r8Q--~A/YXBwaWQ9aGlnaGxhbmRlcjtzbT0xO3c9ODAw/https://media-mbst-pub-ue1.s3.amazonaws.com/creatr-uploaded-images/2019-12/f8290e10-1fa0-11ea-9efb-75f227441fe9';
    $('#input_img_url').val(example_url);


    function classify_this_img(this_img) {

        // this 代表甚麼? 這個 自己
        // this 會把整個標籤的內容都當成引數 這裡需要知道使用者是點選哪一個圖
        // console.log(this_img);
        //console.log($(this_img).attr('src')); //取得名稱: 不能用
        //console.log($(this_img).prop('src')); //取得完整路徑

        url = $(this_img).prop('src');//取得完整url路徑

        $('#ans_for_img').empty();

        // 傳說中的ajax長這樣:
        jQuery.ajax({

            type: "POST",
            url: "api_classify_image_url/",
            data: {
                "input_img_url": url,
            }, //pass to server
            success: function (received_data) {
                // 顯示答案
                let ans = received_data['predictions'];
                for (var i = 0; i < ans.length; i++) {
                    $('#ans_for_img').append("<li>" + ans[i]['label'] + "(" + ans[i]['proba'] + ")</li>");
                }
            }, //success function

        });//ajax

    } // function classify_this_img()


    $('#btn_url').on('click', function (e) {

        url = $('#input_img_url').val(); //取得使用者輸入的的圖片連結

        $('#img_for_url').empty();
        $('#img_for_url').append('<img src="' + url + '" class="img-fluid">');

        $('#input_img_url').val("");
        $('#ans_for_url').empty(); //顯示區先要清空

        jQuery.ajax({

            type: "POST",
            url: "api_classify_image_url/",
            data: {
                "input_img_url": url,
            }, //pass to server
            success: function (received_data) {
                // 顯示答案
                const ans = received_data['predictions'];
                for (var i = 0; i < ans.length; i++) {
                    $('#ans_for_url').append("<li>" + ans[i]['label'] + "(" + ans[i]['proba'] + ")</li>");
                }
            }, //success function
        });//ajax

    }); //btn_url function

    // 預覽使用者上傳的圖片
    $("#img_file").change(function () {
        //取得使用者輸入的檔案名稱的連結
        const img = $('#img_file')[0].files[0];
        // 從使用者的磁碟讀取圖片
        const imgurl = URL.createObjectURL(img);
        // console.log(imgurl);

        // 清除頁面上前一張圖
        $("#ans_for_upload").empty();
        $("#img_for_upload").empty();
        // 顯示上傳圖片
        $("#img_for_upload").append("<img src='" + imgurl + "' class='img-fluid'>");
    });


    $('#btn_upload').click(function () {
        // FormData類別是jQuery準備好的類別，做上傳文件的輸入處理
        let formData = new FormData();
        // 取得使用者輸入的檔案名稱的連結
        const uploaded_img = $('#img_file')[0].files[0];

        // 若是伺服器端有csrf，則必須將網頁的token傳給後端，執行以下一行
        //formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
        //將影像資訊放到formData，準備傳給後端
        formData.append('upload_image', uploaded_img);

        //顯示區先要清空
        //$('#img_for_upload').empty();
        $('#ans_for_upload').empty();

        $.ajax({
            url: 'api_classify_image/', //簡單版
            // url: 'api_classify_image_upload/', //複雜版 有存圖片
            type: 'POST',
            data: formData, //傳給後端的圖形檔案
            processData: false, //data格式不須特別處理
            contentType: false, // 內容格式不須特別處理
            /*
            ajax 上傳的型態是dataForm物件，必須設定如下:
                processData: false,
                contentType: false,
            表示processData  contentType 都不需要特別處理。
            */
            success: function (received_data) {
                // 圖片已經預覽了，此處不必再顯示圖片
                //console.log(received_data['img_url']);
                //$('#img_for_upload').append('<img src="' + received_data['img_url'] + "?timestamp=" + new Date().getTime() + '" class="img-fluid">');

                // 顯示答案
                const ans = received_data['predictions'];
                for (var i = 0; i < ans.length; i++) {
                    $('#ans_for_upload').append("<li>" + ans[i]['label'] + "(" + ans[i]['proba'] + ")</li>");
                }

            }
        });
    });

</script>
